.heading{
	text-align: center;
	margin: 3rem 0 3rem 0;
}
.udel_icons{
	position: relative;
	display: flex;
	justify-content: spaced-even;
}
.udel_icons a{
	position: relative;
	display: flex;
	justify-content: spaced-even;
	text-decoration: none;
	color: black;
	margin: auto;
}

.logout{
	margin-top:1rem;
}
.sorting_btns{
	display: flex;
	position: absolute;
	border: 1px solid black;
	left:1300px;
	top:80px;
	
}
.sorting_btns a{
	border: 1px solid black;
	text-decoration: none;
	font-weight:bold;
	background: #EEEFEE;
	color: black;
}