<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./Images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="css/employeedetails.css" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <a class="navbar-brand" href="/hotel">HYATT PALACE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/hotel">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/room_reservation">Booking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/facilities">Facilities</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/restaurant">Restaurant</a>
            </li>


        </ul>
    </div>
</nav>

<body>
    <form>
        <div class="card border-secondary mb-3" style="height:400px;max-width:700px;padding-left:100px;border-width:5px;background-color:#02091a;border-color:white;border-radius:30px">

            <h1>Employee Details</h1>
            <div class="row">
                <div class="column">
                    <div class="elem-group">
                        <input type="text" id="FName" name="FName" placeholder="First Name">
                    </div>
                    <div class="elem-group">
                        <input type="text" id="Lname" name="LName" placeholder="Last Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="elem-group">
                        <input type="email" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="elem-group">
                        <input type="number" id="salary" name="salary" placeholder="Salary">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="elem-group">
                        <input type="text" id="category" name=category placeholder="Category of Employee">
                    </div>

                    <div class="elem-group">
                        <input type="text" id="date_of_joining" name="date_of_joining" placeholder="Gender">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="elem-group">
                        <input type="number" id="age" name="age" placeholder="Age">
                    </div>

                    <div class="elem-group">
                        <input type="text" id="employeeid" name="employeeid" placeholder="EmployeeID">
                    </div>
                </div>
            </div>

        </div>

    </form>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Taj Groups</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="/room_reservation">Booking</a></li>
                        <li><a href="#">Restaurant</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="#">Contact No . 022 9897 2456</a</li>
                <li><a href="#">Mail : hotels@gmail.com</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Address</h4>
                    <ul>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate adipisci quia ab omnis id ipsum quae inventore </a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-google"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>