<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hyatt Palace-Facilities</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/facilities.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <a class="navbar-brand  " href="/hotel">HYATT PALACE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/hotel">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/room_reservation">Booking</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/facilities">Facilities</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/restaurant">Restaurant</a>
                </li>
                
                 <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Profile</a>
                </li>

            </ul>
        </div>
    </nav>

    <h1 style="font-weight: bold; font-size:60px">Facilities</h1>
    <div class="container">
        <div class="card-deck">
            <div class="card bg-primary">
                <div class="card-body text-center">
                    <h2>Food and Beverages</h2>
                    <img src="https://bit.ly/3lBXL74">
                    <h3>Feeling Hungry?</h3>
                    <p> We go to great lengths to ensure the best possible quality of food. Wide Range of Food ranging from Japanese, Chinese, Thai and Indian. </p>
                </div>
            </div>
            <div class="card bg-success">
                <div class="card-body text-center">
                    <h2>Spa</h2>
                    <img src="https://img4.nbstatic.in/tr:w-500/5efde842dc0e82000bc00fe4.jpg">
                    <h3>Want some Relaxation?</h3>
                    <p>Our Luxurious Spa is always there for you. Enjoy activities like Sauna at a highly discounted price.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card-deck">
            <div class="card bg-dark">
                <div class="card-body text-center">
                    <h2>Swimming Pool</h2>
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/10/c0/f1/dc/pool--v17386539.jpg">
                    <h3>Missing Swimming Pool?</h3>
                    <p>Take a Dip in our Swimming Pool, sip a cocktail and feel relished. Open from 9am to 9pm.</p>
                </div>
            </div>
            <div class="card bg-danger">
                <div class="card-body text-center">
                    <h2>Free Wifi</h2>
                    <img src="https://miowifi.com/wp-content/uploads/shutterstock_457634998.jpg">
                    <h3>Want to work from room itself?</h3>
                    <p>We offer high speed wifi facility at free of costs to all of our guests staying at any of our rooms.</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Taj Groups</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="/room_reservation">Booking</a></li>
                        <li><a href="#">Restaurant</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="#">Contact No . 022 9897 2456</a</li>
                <li><a href="#">Mail : hotels@gmail.com</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Address</h4>
                    <ul>
                        <li><a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate adipisci quia ab omnis id ipsum quae inventore </a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-google"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>