<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hyatt Palace-Facilities</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>

<body>
 <h1>Private user dashboard</h1>
 
 <h4 th:text="${user.email}"></h4>
 <h4 th:text="${user.role}"></h4>
 
 <div th:each = "ROOMS: ${listRooms}">
 
 <h3 th:text="${ROOMS.checkinDate}"></h3>
 
  <h3 th:text="${ROOMS.price}"></h3>
 
 
 
 </div>

 
</body>

</html>
